VIA_CEP_BASE_URL=https://viacep.com.br/ws/
NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org/search
OPEN_WEATHER_BASE_URL=https://api.openweathermap.org/data/2.5/weather
OPEN_WEATHER_API_KEY=your_openweather_api_key
